
<html>
  <head>
    <style type="text/css">
      body {
        background: #34495E;
        color: #A2D9CE;
      }
      div.container {
        color: #CCD1D1;
        max-width: 60%;
        margin: 100px auto;
        border: 20px double #5D6D7E;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>What People Have said about Ondine:</h4>
      <h1 id="fact">{{ fact.content }}</h1>
      <p><small> ~ {{ fact.source }}</small></p>
    </div>
  </body>
</html>
